/*
	En esta pagina se recoge el estilo de:
		. modificaciones de los elementos de html
		· el menu de navegacion (#header)
		· el pie de pagina (#footer)
		· clases comunes a todas las paginas (.text,etc)
*/
* {
  box-sizing: border-box;
}
html, body{
  height:100%;
  margin:0px;

  display: flex;
  flex-direction: column;
}


body{
	background-image: url('../../img/BackGround2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
  font-family: arial;
}

/*logos*/
#logo_inicio{
  margin-top: -75px;
  padding: 30px;
  width: 50%;
  height: auto;
}
#logo_cabecera{
  margin-top: 0px;
  padding: 30px;
  width: 75%;
  height: auto;
}

.titulo{
	font-size: 50px;
	padding: 30px;
  font-family: monospace;
}
/*
	Estilo de la barra de navegacion
*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #c9c9ff;
  border-bottom: solid;
}
#cabecera {
  width: 100%;
  position: fixed;
}
#container{
  margin-top: 45px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}
li a:hover {
  background-color: #ffbdbd;
}

.column{
	float: left;
	width: 50%;
}

.row{
	background-color: none;
	text-align: center;
}
.descripcion{
	background-color: pink;
	text-align: left;
  margin-left: 30px;
}
.titulo{
	background-color: none;
	text-align: center;
  margin-top: 30px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
	Estilo de botones
*/
.botonGuay {
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 33%;
  font-size: 22px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.botonGuay:hover{
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 10px #888888;
  border-color: #aaaaaa;
  border-radius: 20px;
}
#botonSubmitE{
  padding: 2px;
  width: 100px;
  background-color: #c9c9ff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#botonSubmitU{
  padding: 2px;
  width: 100px;
  background-color: #c9c9ff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#botonSubmit:hover{
  box-shadow: 1px 2px #888888;
  border-radius: 20px;
}
#Botonempresa{
  background-color: #c9c9ff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#Botonusuario{
  background-color: #c9c9ff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#botonHeader{
  background-image:url('../img/Logo2.png');
  background-repeat:no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  border-radius: 20px;
}
/*
  Estilo del footer
*/

.footer {
  background-color: #aaaaaa;
  box-sizing: border-box;
  position: relative;
  position:fixed;
  margin: 0px;
  width:  100%;
  bottom: 0px;
  text-align: center;
  padding: 10px;
}
/*
 perfiles
*/
div #card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-height: 250px;
  max-width: 300px;
  margin: 100px 30px 30px 30px;
  padding: 8px;
  border-radius: 20px;
  float: left;
  text-align: center;
  background-color: #c9c9ff;
}
div #ModPerf {
  color: grey;
  margin: 100px 30px 30px 30px;
}

div #burbuja {
  color: grey;
  font-size: 18px;
  border-style: outset;
  border-radius: 20px;
  background-color: #ffbdbd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#FotoPerfil{
    border-radius: 20px;
}
div #perfil {
  height: 100%;
  padding: 8px;
  float: left;
  margin: auto;
  text-align: center;
}
#Modperfil{
margin-top: 45px;
margin-bottom: 45px;
display: inline-block;
text-align: center;
}
/*
tarjetas ayuda
*/

.ayudaCard {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: #ffbdbd;
  text-align: center;
  margin: 30px;
}

.conocenosCard {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 10px;
  background-color: #c9c9ff;
  text-align: center;
  margin: 30px;
}

/*
extras
*/
.form-consulta {
  display: inline-block;
  text-align: center;
  max-width: 700px;
  background: #ffbdbd;
  padding: 25px;
  font-family: 'arial', arial;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.campo-form {
  width:100%;
  height:36px;
  margin:2px 0 6px;
  padding-left:6px;
  box-sizing: border-box;
  border-radius:30px;
  border:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1em;
}

.row_content{
  display: flex;
  justify-content: center;
  align-items: center;
}

label span {color: #f00}
textarea {min-height: 150px!important;}
.btn-form {
  display: inline-block;
  border:0;
  background: #000;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px
}
.btn-form:hover {background: #444}
